<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voyage.dao.CfgCorpsGradeVOMapper" >
  <resultMap id="BaseResultMap" type="com.voyage.data.vo.CfgCorpsGradeVO" >
    <id column="ccg_id" property="ccgId" jdbcType="INTEGER" />
    <result column="ccg_name" property="ccgName" jdbcType="VARCHAR" />
    <result column="ccg_factor" property="ccgFactor" jdbcType="DOUBLE" />
    <result column="ccg_corps_bg" property="ccgCorpsBg" jdbcType="VARCHAR" />
    <result column="ccg_prop_base" property="ccgPropBase"  />
    <result column="ccg_prop_dot" property="ccgPropDot"  />
  </resultMap>
 <select id="selectAll" resultMap="BaseResultMap">
		select * from cfg_corps_grade
	</select>
</mapper>